/* VR junk
*/


.button,
input[type="submit"] {
  height: 38px;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
}

.button.button-primary:hover,
input[type="submit"].button-primary:hover {
  color: #FFF;
  background-color: #F90;
  border-color: #FFF;
}

.button.button-primary,
input[type="submit"].button-primary,
.button.button-primary:focus,
input[type="submit"].button-primary:focus  {
  color: #F90;
  background-color: #FFF;
  border-color: #666;
}

.headerbar {
  background-color: #f90;
  color: #fff;
  text-align: right;
  padding: 5px;
}

.centervertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.accordionbar {
  background-color: #f90;
  color: #fff;
  padding: 10px;
  margin: 0px;
  border-radius: 10px;
  font-size: 24px;
  height: 38px;
}

div.header-wrap {
  width: 100%;
  height: 100px;
}

div.header-wrap > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: white;
  font-size: 24px;
  text-align: center;
}

.greybg {
  background-color: #666;
}

div.stretchy-wrapper {
  width: 100%;
  max-width: 800px;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

div.stretchy-wrapper > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: white;
  font-size: 24px;
  text-align: center;
}

.logoOverlay {
   position: absolute;
   top: 5px;
   right: 5px;
   left: 5;
   width: 90px;
}

.code {
  background-color: #eee;
  color: #111;
  margin: 10px;
  padding: 4px;
  font-family: "Lucida Console", Monaco, monospace;
  word-wrap: break-word;
}

/* Shared
*/
.button {
  border-radius: 100px;
}

.numberinput {
  width: 100px;
}

.numberinputwide {
  width: 100%;
}

.alignright {
  text-align: right;
}

a:link {
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

a:active {
    text-decoration: underline;
    color: inherit;
}

.tenPxPad {
  padding: 10px;
}

/* Sections
*/
.section {
  padding: 3rem 0 6rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Values
*/
.values {
  background-size: cover;
  background-color: #666;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #f90;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}


/* Teeny tiny */
@media (min-width: 330px) {
  .logoOverlay {
    width: 150px;
  }
  div.header-wrap {
    height: 160px;
  }
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 3rem 0 6rem;
  }
  .logoOverlay {
    width: 200px;
  }
  div.header-wrap {
    height: 210px;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 4rem 0 8rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

}
