/* VR junk
*/
.headerBar {
  background-color: #f90;
  color: #fff;
  text-align: right;
  padding: 5px;
}

div.header-wrap {
  width: 100%;
  height: 100px;
}

div.header-wrap > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: white;
  font-size: 24px;
  text-align: center;
}

div.stretchy-wrapper {
  width: 100%;
  max-width: 800px;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

div.stretchy-wrapper > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: white;
  font-size: 24px;
  text-align: center;
}

.logoOverlay {
   position: absolute;
   top: 5px;
   right: 5px;
   left: 5;
   width: 90px;
}

.code {
  background-color: #eee;
  color: #111;
  margin: 10px;
  padding: 4px;
  font-family: "Lucida Console", Monaco, monospace;
  word-wrap: break-word;
}

/* Shared
*/
.button {
  border-radius: 100px;
}

/* Sections
*/
.section {
  padding: 3rem 0 6rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Values
*/
.values {
  background-size: cover;
  background-color: #666;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #f90;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}


/* Teeny tiny */
@media (min-width: 330px) {
  .logoOverlay {
    width: 150px;
  }
  div.header-wrap {
    height: 160px;
  }
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 3rem 0 6rem;
  }
  .logoOverlay {
    width: 200px;
  }
  div.header-wrap {
    height: 210px;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 4rem 0 8rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

}
